.doctorHome{
    width: 90%;
    height: 90vh;
    margin: 0px auto;
    background-color: rgb(252, 220, 220);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
@media (min-width: 768px) and (max-width: 1024px) {
    .doctorHome{
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }
}
@media (max-width: 767px)  {
    .doctorHome{
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
    }
}