<div class="navbar">
    <div class="navbar-logo">
        <a routerLink="/"><span>ASKME</span></a>
    </div>
    <div class="nav-links">
        <ul>
            <li><a routerLink="/">Home</a></li>
            <li><a routerLink="/notifications">Notifications</a></li>
            <li><a routerLink="/news">News</a></li>
            <li><a routerLink="/userProfile">User</a></li>
        </ul>
    </div>
</div>
<div class="top-bar">
     <div class="askMe-logo">
        <a routerLink="/"><span>ASKME</span></a>
     </div>
     <div class="add-business-button">
        <a routerLink="/addBusiness">Business&nbsp;<i class="fa-regular fa-square-plus"></i></a>
     </div>
</div>
<div class="tapbar">
    <div class="tapbar-icons">
        <a  routerLink="/"><i class="fa-solid fa-house"></i></a>
        <a  routerLink="/notifications"><i class="fa-solid fa-bell"></i></a>
        <a  routerLink="/news"><i class="fa-solid fa-newspaper"></i></a>
        <a  routerLink="/userProfile"><i class="fa-solid fa-user"></i></a>
    </div>
</div>