<app-search></app-search>
<app-advertisement></app-advertisement>
<div class="all-modules">
    <a routerLink="/doctors"><div class="feature-item">doctors</div></a>
    <a routerLink="/restaurant"><div class="feature-item">restaurant</div></a>
    <a routerLink="/"><div class="feature-item"></div></a>
    <a routerLink="/"><div class="feature-item"></div></a>
    <a routerLink="/"><div class="feature-item"></div></a>
    <a routerLink="/"><div class="feature-item"></div></a>
    <a routerLink="/"><div class="feature-item"></div></a>
    <a routerLink="/"><div class="feature-item"></div></a>
</div>